{% extends "base.html" %}
{% block containercontent %}
<p class="lead">Welcome! This app will Tweet one dog fact once from your account.</p>
<div class="hero-unit">
	<p>To get started, we'll need you to authorize Hello world twitter bot app to Tweet on your behalf using OAuth 2.0. Learn more information about <a href="https://developer.twitter.com/en/docs/authentication/oauth-2-0">OAuth 2.0.</a></p>
	<p>Here's how it works:</p>
	<ol>
		<li>We will redirect you to Twitter.com for you to authorize our app.</li>
		<li>While at Twitter.com, you will authorize our Twitter App to post on your behalf.</li>
		<li>One dog fact will be posted once!</li>
	</ol>
</div>
<p>Let's Tweet a dog fact!</p>
<a href="/start" class="btn btn-small btn-success">Let's Begin</a>
{% endblock %}
